.label {
    margin-left: 20px;
}

.list-item {
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.16), 0 1px 2px rgba(0, 0, 0, 0.23);
}

.mainview {
    margin: 20px;
}

fieldset {
    margin-bottom: 20px;
}

.fieldset-element {
    font-weight: bold;
    margin-top: 10px;
}