@*
* This template is called from the `index` template. This template
* handles the rendering of the page header and body tags. It takes
* two arguments, a `String` for the title of the page and an `Html`
* object to insert into the body of the page.
*@
@(title: String)(content: Html)

<!DOCTYPE html>
<html lang="en" >
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>JDA Code Hub</title>

            <!-- Angular Material style sheet -->
        <link rel="stylesheet" href="http://ajax.googleapis.com/ajax/libs/angular_material/1.1.0-rc2/angular-material.min.css">

        <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.4.0/styles/default.min.css">

        <link rel="stylesheet" type="text/css" href="/assets/stylesheets/main.css">
    </head>

    <body ng-app="jda" ng-cloak>

        <script src="https://code.jquery.com/jquery-2.2.3.min.js" integrity="sha256-a23g1Nt4dtEYOj7bR+vTu7+T8VP13humZFBJNIYoEJo=" crossorigin="anonymous"></script>

            <!-- Angular Material requires Angular.js Libraries -->
        <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.3/angular.min.js"></script>
        <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.3/angular-animate.min.js"></script>
        <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.3/angular-aria.min.js"></script>
        <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.3/angular-messages.min.js"></script>

            <!-- Angular Material Library -->
        <script src="http://ajax.googleapis.com/ajax/libs/angular_material/1.1.0-rc2/angular-material.min.js"></script>

        <script src="https://cdnjs.cloudflare.com/ajax/libs/ngInfiniteScroll/1.2.2/ng-infinite-scroll.min.js"></script>
        <script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.4.0/highlight.min.js"></script>

        <script src="/assets/javascripts/main.js"></script>


        <div ng-controller="controller-root" layout="column" class="mainview">
            <div layout>

                <div flex="25" layout="column">
                    <fieldset>
                        <legend>Filter by Status</legend>
                        <md-checkbox layout ng-repeat="status in statuses" ng-checked="statusIndices.indexOf($index) != -1" ng-click="toggleStatus($index)">
                            {{ status }}
                        </md-checkbox>
                    </fieldset>

                    <fieldset>
                        <legend>Stats</legend>
                        <div><b>Top 5 Languages Used</b></div>
                        <md-list>
                            <md-list-item ng-repeat="(key, value) in stats['top-5-languages-used']">
                                <div>{{key}}: <b>{{value}}</b></div>
                            </md-list-item>
                        </md-list>
                        <div class="fieldset-element">Top 2 Submissions Attempted</div>
                        <md-list>
                            <md-list-item ng-repeat="(key, value) in stats['top-2-submissions-attempted']">
                                <div>{{key}}: <b>{{value}}</b></div>
                            </md-list-item>
                        </md-list>
                        <div class="fieldset-element">Number of submissions per level</div>
                        <md-list>
                            <md-list-item ng-repeat="(key, value) in stats['submissions-per-level']">
                                <div>{{key}}: <b>{{value}}</b></div>
                            </md-list-item>
                        </md-list>
                        <div class="fieldset-element">Total submissions: {{stats['total-submissions']}}</div>
                    </fieldset>
                </div>

                <div flex="75" layout="column" style="margin-left: 20px">
                    <md-input-container>
                        <label>Search (by title, label or language)</label>
                        <input type="text" ng-model="query" ng-change="querySearch()">
                    </md-input-container>

                    <md-progress-linear md-mode="indeterminate" ng-show="loading"></md-progress-linear>

                    <div infinite-scroll="infiniteSearch()" infinite-scroll-disabled="loading" infinite-scroll-distance="1"
                    style="padding-top: 10px">
                        <div layout="column" ng-repeat="resultObj in searchResponse.result" layout-margin="25" class="list-item">
                            <div layout>
                                <div flex="5" layout>
                                    <img flex ng-src="{{ resultObj.icon }}" style="max-width: 100% ; max-height: 100%"/>
                                </div>
                                <div class="label">
                                    {{ resultObj.title }}
                                </div>
                                <div class="label">
                                    {{ resultObj.status }}
                                </div>
                                <div class="label">
                                    {{ resultObj.language }}
                                </div>
                            </div>

                            <div>
                                {{resultObj.source}}
                            </div>
                        </div>
                    </div>
                </div>

            </div>

        </div>

    </body>
</html>